.container {
  position: sticky;
  top: 0;
  padding: 12px 24px;
  height: 64px;
  z-index: 9999;
}

.solid {
  background-color: var(--semantic-container-odd);
}

.transparent {
  background-color: rgba(var(--palette-gray-00-rgb), 0.02);
  backdrop-filter: blur(4px);
  border-bottom: 1px solid var(--semantic-line-normal);
}

.wrapper {
  max-width: 1100px;
}

.itemWrapper {
  padding: 0 8px;
}
