.container {
  margin-top: var(--article-margin-top-xstrong);
  margin-bottom: var(--article-margin-bottom-strong);
}

.image {
  width: 100%;
  height: 100%;
  background-color: var(--article-box-background-color);
  border: 1px solid var(--article-line);
  border-radius: var(--article-radius);
  object-fit: cover;
}

.imageLoading {
  aspect-ratio: var(--article-media-aspect-ratio);
}
