.container {
  margin-top: var(--article-margin-top-xstrong);
  margin-bottom: var(--article-margin-bottom-strong);
}

.quoteBlock {
  border-left: 2px solid var(--article-line);
  padding: var(--article-block-padding);
}

.childrenIndent {
  padding-left: var(--article-indent-nested);
}
