.container {
  margin-top: var(--article-margin-top-xstrong);
  margin-bottom: var(--article-margin-bottom-strong);
}

.calloutBlock {
  background-color: var(--article-box-background-color);
  border-radius: var(--article-radius);
  padding: var(--article-block-padding);
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.emoji {
  font-size: var(--article-icon-size);
  width: var(--article-icon-size);
  height: var(--article-icon-size);
}
