.buttonDefaultStyle {
  border: none;
  outline: none;
}

.buttonWrapper {
  height: 100%;
}

.buttonLarge {
  padding: 12px 16px;
  height: 45px;
  border-radius: var(--radius-medium);
}

.buttonMedium {
  padding: 8px 12px;
  height: 35px;
  border-radius: var(--radius-medium);
}

.buttonSmall {
  padding: 6px;
  height: 29px;
  border-radius: var(--radius-small);
}
