.listItem {
  list-style-type: none;
}

.listContent {
  margin-top: var(--article-margin-top-normal);
  margin-bottom: var(--article-margin-bottom-normal);
}

.markerSize {
  min-width: var(--article-list-marker-width);
  max-height: var(--article-list-marker-height);
  min-height: var(--article-list-marker-height);
}

.childrenIndent {
  padding-left: var(--article-margin-nested);
}
