.container {
  display: grid;
  width: 100%;
  grid-template-columns: 3fr 2fr;
  grid-gap: 36px;
}

.bannerWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  border-radius: var(--radius-xlarge);
}

.bannerWrapper > img {
  object-fit: cover;
  background-color: var(--semantic-fill-normal);
}

.textWrapper {
  padding: 24px 0;
}
