:root {
  --motion-timing-linear: cubic-bezier(0, 0, 1, 1);
  --motion-timing-in-out: cubic-bezier(0.8, 0, 0.2, 1);
  --motion-timing-in: cubic-bezier(0.56, 0, 0.84, 1);
  --motion-timing-out: cubic-bezier(0.16, 0, 0.24, 1);
}
