.default-palette {
	/* Gray Colors - Hex */
	--palette-gray-00: #ffffff;
	--palette-gray-10: #f5f5f5;
	--palette-gray-20: #e6e6e6;
	--palette-gray-30: #a3a3a3;
	--palette-gray-40: #999999;
	--palette-gray-50: #474747;
	--palette-gray-60: #1f1f1f;
	--palette-gray-70: #1a1a1a;
	--palette-gray-80: #141414;

	/* Gray Colors - RGB */
	--palette-gray-00-rgb: 255, 255, 255;
	--palette-gray-10-rgb: 245, 245, 245;
	--palette-gray-20-rgb: 230, 230, 230;
	--palette-gray-30-rgb: 163, 163, 163;
	--palette-gray-40-rgb: 153, 153, 153;
	--palette-gray-50-rgb: 71, 71, 71;
	--palette-gray-60-rgb: 31, 31, 31;
	--palette-gray-70-rgb: 26, 26, 26;
	--palette-gray-80-rgb: 20, 20, 20;

	/* Red Colors - Hex */
	--palette-red-00: #f02626;
	--palette-red-10: #ff2929;

	/* Red Colors - RGB */
	--palette-red-00-rgb: 240, 38, 38;
	--palette-red-10-rgb: 255, 41, 41;

	/* Pink Colors - Hex */
	--palette-pink-00: #f02648;
	--palette-pink-10: #ff294d;

	/* Pink Colors - RGB */
	--palette-pink-00-rgb: 240, 38, 72;
	--palette-pink-10-rgb: 255, 41, 77;

	/* Blue Colors - Hex */
	--palette-blue-00: #2289f0;
	--palette-blue-10: #2491ff;

	/* Blue Colors - RGB */
	--palette-blue-00-rgb: 34, 137, 240;
	--palette-blue-10-rgb: 36, 145, 255;

	/* Yellow Colors - Hex */
	--palette-yellow-00: #fac400;
	--palette-yellow-10: #ffc800;

	/* Yellow Colors - RGB */
	--palette-yellow-00-rgb: 250, 196, 0;
	--palette-yellow-10-rgb: 255, 200, 0;

	/* Green Colors - Hex */
	--palette-green-00: #11d674;
	--palette-green-10: #12eb7f;

	/* Green Colors - RGB */
	--palette-green-00-rgb: 17, 214, 116;
	--palette-green-10-rgb: 18, 235, 127;
}
