.textButtonDefault {
  border: none;
  outline: none;
  border-radius: var(--radius-medium);
}

.textButtonDefault::before {
  inset: -6px;
}

/*.textButtonDefault::before,*/
/*.textButtonFakeBackground {*/
/*  position: absolute;*/
/*  inset: -6px;*/
/*  border-radius: var(--radius-medium);*/
/*  transition: var(--motion-duration-fast) var(--motion-timing-ftos);*/
/*  transition-property: background-color, opacity, transform;*/
/*  transform: scale(0.96);*/
/*}*/

/*.textButtonDefault::before {*/
/*  opacity: 0.32;*/
/*}*/

/*.textButtonDefault:hover::before,*/
/*.textButtonDefault:active::before {*/
/*  transform: scale(1);*/
/*}*/

/*.textButtonDefault:active::before {*/
/*  opacity: 0.4;*/
/*}*/

/*.textButtonFakeBackground:hover {*/
/*  transform: scale(1);*/
/*  background-color: inherit;*/
/*  opacity: 0.4;*/
/*}*/
